<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row text-center">
	<div class="small-4 columns text-center">&nbsp;</div>
	<div class="small-4 columns text-center">&nbsp;
		<div class="row text-center"id="light-bulb-icon"></div>
	</div>
	<div class="small-4 columns text-center">&nbsp;</div>
</div>
<div class="row text-center">
	<div class="small-1 columns text-center">&nbsp;</div>
	<div class="small-10 columns text-center">
	  <div class="row">&nbsp;</div>
	  <div class="row">&nbsp;</div>
	  <h3> تتكون اللعبة من <span><b>جولتين</b></span> :</h3>
	  <div class="row">&nbsp;</div>
		<h4 align="right">في الجولة <span><b>الأولى</b></span> : قدم لِصديقك المساعدة حين يطلبها </h4>
		<div class="row">&nbsp;</div>
		<h4 align="right">في الجولة <span><b> الثانية </b></span> : خَمن الكلمة الظاهرة على الشاشة بالتشكيل. يمكنك طلب المُساعدة من صديقكَ.<h4>
		<div class="row">&nbsp;</div>
		<div class="row">&nbsp;</div>
		<h4>مدة الجولة : ١٢٠ ثانية</h4>
	</div>
	<div class="small-1 columns text-center">&nbsp;</div>
</div>
