<div id="matching-game">
	<div id="gameOverModal" class="reveal-modal small text-center" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<div class="icon">
			<p id="gameendicon"></p>
		</div>
		<div class="title">
			<h2 id="modalTitle"> كسبت <span id="mg-score"><b>٦٠</b></span> نقطة  </h2>
			<!--<h2> ستبدأ العب مع شريكُك الأن! </h2>-->
			<h3 id="new-time-record">
				في <span><b id="time-record-value"></b><span> ثانية
			</h3>
		</div>
	  
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>

	<div id="gameModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<div class="row text-center">
			<!--Title and timer div-->		
			<div class="small-3 columns text-center" id="matching-game-timer-container">
        <div class="row text-canter">
        	<div id="matching-game-timer-info">
        		<b dir="rtl">لديك 
        		<span id="matching-game-timer"><bdi>60</bdi></span>
        		<b dir="rtl">ثانية</b>
        	</div>
        </div>
	      <div class="row text-center">
		      <div class="progress large-12 success" align="left" id="matching-game-progress-bar">
        		<span class="meter" id="matching-game-meter" style="width: 167.3px;"></span>
        	</div>
    		</div>
			</div>
			<div class="small-6 columns text-center">
	  		<h2 class="text-center" id="modalTitle"> لعبة الذاكرة! </h2>
	  		<h3 class="text-center"> اعثر على البطاقات المماثلة في أسرعِ وقتٍ ممكن !! </h3> 
	  	</div>
	  	<div class="small-3 columns text-center">&nbsp;</div>
	  </div>
		<!--/Title and timer div-->
	  <div class="row text-center">&nbsp;</div> <!--just an empty separator div-->
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
			<section id="game">
				<div id="cards">
					<div class="card" style="display: inline-block;">
						<div class="face front" ></div>
						<div class="face back" data-image-id="" >
							<div  class="checkMarks has-tip tip-bottom radius" data-tooltip aria-haspopup="true" title="هل هما متطابقان تماماً في التَشكيل؟">
										<a id="ok"><img id="checkmarkicon" src="/assets/checkmark-16.png" alt="Yes"></a>
										<a id="remove"><img id="removeicon" src="/assets/x-mark-16.png" alt="No!"></a>
							</div> <!-- .checkmarks-->
						</div> <!--.face back cardAK-->
					</div> <!-- .card -->
				</div> <!-- #cards -->
				<canvas class="canavas" width="80" height="120"></canvas>
				<canvas class="canavas" width="80" height="120"></canvas>
				<canvas class="canavas" width="80" height="120"></canvas>
				<canvas class="canavas" width="80" height="120"></canvas>
				<canvas class="canavas" width="80" height="120"></canvas>
				<canvas class="canavas" width="80" height="120"></canvas>
			</section> <!-- #game -->
	</div>
</div>
<!--To enable tooltip-->
<script>
	$(document).foundation();
</script>