<div class="row" id="fixedSentenceRow">
	<div class="row text-center">
  	<h2> إلعب وشَكِّل الكلمات وإكسب العديد من النقاط! </h2>
  </div>
</div>
<div class="row text-center">&nbsp;</div>
<div class="row" id="carouselRow">
	<div clsaa="container">
	  <div class="single-item">
	    <div><img src="/assets/general1.png"></div>
	    <div><img src="/assets/mg1.png"></div>
	    <div><img src="/assets/mg2.png"></div>
	    <div><img src="/assets/general2.png"></div>
	    <div><img src="/assets/solver1.png"></div>
	    <div><img src="/assets/hinter2.png"></div>
	    <div><img src="/assets/hinter1.png"></div>
	  </div>
	</div>
</div>
