<div class="row" id="fixedSentenceRow" style="border: 2px solid #1ABEDC; border-radius:2px; height:74px;">
  <p> Fixed Sentence about tashkeel .. text size is big .. centered </p>
</div>
<br/>
<br/>
<div class="row" id="carouselRow" style="border: 2px solid #1ABEDC; border-radius:2px; height: 363px;">
  <p>Carousel slides go here</p>
	<div class="content">
	  <div class="single-item">
	    <div>carousel pic1</div>
	    <div>carousel pic2</div>
	    <div>carousel pic3</div>
	  </div>
	</div>
</div>
