<div class="row text-center">&nbsp;</div>
<div class="row text-center">&nbsp;</div>
<div class="row text-center">&nbsp;</div>
<div class="row text-center">&nbsp;</div>
<div class="row text-center">
	<div class="small-3 columns text-center">&nbsp;</div>
	<div class="small-6 columns text-center">
		<h3><b> الصفحة تحت الإنشاء ! </b></h3>
			<%= link_to player_path, class:"button" do %>
				الرجوع الى الصفحة الرئيسية
			<% end %>
	</div>
	<div class="small-3 columns text-center">&nbsp;</div>
</div>