#render-matching-link {
	visibility: hidden;
}

#waiting {
	padding-top: 50px;
	display: none;
}

#solver-container {
	display: none;
}

#hinter-container {
	display: none;
}

#forever-loading-icon {
	display: none;
}

#hint-1-to-solver {
	display: none;
}

#hint-2-to-solver {
	display: none;
}

#hint-3-to-solver {
	display: none;
}

#hint_sent_alert_container{
	display: none;
}

#reset-hinter-solver-views{
	visibility: hidden;
}

#game-side-bar{
	display: none;
}

#game-meter {
	width: 100%;
}

#timer {
	font-weight: normal;
	color: black;
}

#light-bulb-icon {
	background: url('/assets/transparent50percent.png') no-repeat -255px -39px;
	width: 81px;
	height: 82px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#game-explanation-solver-side{
	display: none;
}

#game-explanation-hinter-side{
	display: none;
}

#hinter-diacritics-container{
	display: none;
}