#render-matching-link {
	visibility: hidden;
}

#waiting {
	padding-top: 50px;
	display: none;
}

#solver-container {
	display: none;
}

#hinter-container {
	display: none;
}

#forever-loading-icon {
	display: none;
}

#hint-1-to-solver {
	display: none;
}

#hint-2-to-solver {
	display: none;
}

#hint-3-to-solver {
	display: none;
}

#hint_sent_alert_container{
	display: none;
}

#reset-hinter-solver-views{
	visibility: hidden;
}

#game-side-bar{
	display: none;
}

#game-meter {
	width: 100%;
}

#timer {
	font-weight: normal;
	color: black;
}