<div class="fixed sticky">
	<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false" >
		<section class="top-bar-section">
		    <!-- Right Nav Section -->
		  <ul class="right">
				<ul class="title-area">
				  <li class="name">
				    <h1><a href="#"> تَشكِيل </a></h1>
				  </li>
				</ul>
		  </ul>
      <!-- Left Nav Section -->
      <% if current_player %>
        <ul class="left text-center">
          <li>
            <%= link_to('تسجيل الخروج', destroy_player_session_path, :method => :delete) %> 
          </li>
        </ul>
      <% else %>
          <ul class="left text-center">
            <li>
                <a data-dropdown="signup" aria-controls="signup" aria-expanded="false" data-options="align:bottom; pip:center;">تَسجيل</a>
            </li>
            <li class="divider"></li>
            <li>
                <a data-dropdown="signin" aria-controls="signin" aria-expanded="false" data-options="align:bottom; pip:center;">دخول</a>
            </li>
          </ul>
      <% end %>
		</section>
	</nav>
</div>

<div id="signin" class="f-dropdown small content" data-dropdown-content 
  aria-hidden="true" tabindex="-1">
  <!-- signin form -->
  <%= render 'devise/sessions/new' %>  
</div>

<div id="signup" class="f-dropdown small content" data-dropdown-content 
  aria-hidden="true" tabindex="-1">
  <!-- signup form -->
  <%= render 'devise/registrations/new' %>  
</div>
